/* Custom Styles */

@font-face {
	font-family: Archer Semibold;
	src: url(../fonts/archer-semibold.otf);
}

@font-face {
	font-family: Franchise;
	src: url(../fonts/franchise-free-bold.otf);
}

@font-face {
	font-family: Intro;
	src: url(../fonts/intro.otf);
}

/*Global*/

h4 {
	font-family: 'Intro', sans-serif;
}

/* Header */

.container-fluid {
	padding: 0;
}

header .container-fluid {
	border-top: 5px solid #3392d2;
	background-image: url(../img/header-pattern-2.png);
	background-size:cover;
	margin-bottom: 20px;
}

#header-container {
	width: 100%;
	padding-top: 50px
}

.list-inline-item img {
	height: 40px !important;
    width: 40px !important;
}

.logo-image {
	width: 100%
	height: auto;
}


}
/* Navigation */

.navbar {
	padding: 0;
	margin-top: 50px;
}

.navbar-nav {
	width: 100%;
}

.navbar a {
	color: #646566;
	font-family: 'Intro', sans serif;
	font-size: 14px;
}

.navbar-expand-md, .navbar-nav, .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.bg-light {
	background-color: transparent !important;
}

.navbar-light .navbar-toggler {
    color: #414141 !important;
    border-color: transparent !important;
}

.icon {
	 position: absolute;
    z-index: 2;
    display: block;
    padding-left: 1rem;
    padding-top:.4rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
}


.search-container {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search-container input#search{
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #414141;
  font-size: 10pt;
  float: left;
  font-family: 'Intro', sans-serif;
  color: #414141;
  padding-left: 55px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;  
 
}
 
.search-container:hover .icon{
  color: #93a2ad;
}

/* Main */

.row img {
	height: auto;
	width: 100%;
}

/* Carousel */

.carousel-indicators li {
	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 10px;
}

.absolute-div {
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-content {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
	font-family: 'Intro', sans-serif;
}

.carousel-content h3 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 2.8em;
}

.carousel-content span {
	font-family: 'Archer Semibold', serif;
	text-transform: uppercase;
}

.card {
	border-radius: none !important;
}

.card-columns .card {
    margin-bottom: .0 !important;
    }

.card-img-overlay {
	padding: 0 !important;
}

.card-img-overlay p {
	font-family: 'Arial', sans-serif !important;
	color: #fff;
}

.card-img-overlay h4 {
	font-family: 'Intro', sans-serif !important;
	font-size: 1.2rem;
	color: #fff;
}

.card-img-overlay a {
	text-decoration: none !important;
}

.card-body i {
	font-size: 2rem;
	padding-bottom: 1rem;
}

.card-body h4 {
	font-size: 1rem;
}

.card-title {
	margin-bottom:0 !important;
}

.btn-primary {
	background-color: #b8a580 !important;
	border-color: #b8a580 !important;
	border-radius: 1;
	font-family: 'Intro', sans-serif;
	font-size: .8rem;
	padding-right:2rem;
	padding-left:2rem;
}

#mobile-container {
	background-color: #000;
	color: #fff;
}

/* Footer */

#footer-container {
	margin-top: 20px;
}

footer .container-fluid {
	background-image: url(../img/footer-pattern.png);
	height:200px;
}



/* Media Queries */

@media (max-width: 400px){
.carousel-content h3 {
	font-size: 2rem !important;
}
}

@media (max-width: 600px){
/* Mobile Devices*/

h3 {
	font-size: .4rem;
}

.icon {
	padding-right: 1rem;
}

.list-inline-item img {
	height: 50px !important;
	width: auto !important;
}

}


@media (min-width: 768px){
/* Tablets */

.carousel-content h3 {
	font-size: 4rem;
}

.list-inline-item img {
	height: 28px !important;
	width: auto !important;
	margin-right: 0 !important;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.search-container input#search{
	border:none;
	background-color:transparent;
	color: transparent !important;
	
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.search-container{
	width:0px;
  position: absolute;
  top: 0;
  right: 0;
  color: #414141;
}

.icon {
	position:absolute;
	right:0;
	top:0;
}

.search-container input#search:focus, .search-container input#search:active{
  outline:none;
  width: 200px;
}
 
.search-container:hover input#search{
width: 200px;
background-color: #fff;

}

.card-img-overlay h4 {
	font-size: 1.5rem;
}
	
}

@media (min-width: 992px) {
/* Desktop*/


.carousel-content h3 {
	font-size: 3rem;
}

.card-img-overlay h4 {
	font-size: larger;
}


.list-inline-item img {
	height: 40px !important;
	width: auto !important;
	margin-right: 0 !important;
}

button {
	font-size: .6rem;
}

}

@media (min-width: 1200px) {

.card-img-overlay h4 {
	font-size:x-large;
}
}