/* Custom Styles */

@font-face {
	font-family: Archer Semibold;
	src: url(Archer Semibold.otf);
}

@font-face {
	font-family: Franchise Free;
	src: url(franchise-bold.ttf);
}

@font-face {
	font-family: Intro;
	src: url(intro.otf);
}

/* Header */

header ul {
	list-style-type: none;
}

/* Navigation */

.navbar a {
	color: #646566;
	font-family: 'Intro', sans serif;
	font-size: 14px;
}

/* Main */

.row img {
	height: auto;
	width: 100%;
}

/* Carousel */

.carousel-indicators li {
	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 10px;
}

 .caption {
    width:100%;
    bottom: .3rem;
    position: absolute;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.caption h4 {
    color: #fff;
    text-align: right;
    -webkit-font-smoothing: antialiased; 
}

/* Media Queries */

@media (min-width: 992px) {

.navbar-expand-lg, .navbar-collapse {
	justify-content: center !important;
}

}